<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818505292700-4h9ihj8hoghaksrm1idgvm6gpkcfvchh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818505292700-4h9ihj8hoghaksrm1idgvm6gpkcfvchh</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMrMkLH2IQho2ROQEEqlF7LZXbU_5smk</string>
	<key>GCM_SENDER_ID</key>
	<string>818505292700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hiramotokeiju.hirakei.kaojichi-alarm</string>
	<key>PROJECT_ID</key>
	<string>alarm-hirakei</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-hirakei.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818505292700:ios:d137c61ea257565d138659</string>
</dict>
</plist>