<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97584677117-e75ao96ojtrjmpihib84pplcf7ee8ov4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97584677117-e75ao96ojtrjmpihib84pplcf7ee8ov4</string>
	<key>API_KEY</key>
	<string>AIzaSyCtX43VwUkEro8MeZ_kvOK7L55gfrbm8UY</string>
	<key>GCM_SENDER_ID</key>
	<string>97584677117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.kambayashi.yukke.kaojichi-alarm</string>
	<key>PROJECT_ID</key>
	<string>hacku2025-9335f</string>
	<key>STORAGE_BUCKET</key>
	<string>hacku2025-9335f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97584677117:ios:48affd506a99353f347e94</string>
</dict>
</plist>